/*Center words with font (tempoary)*/
body {
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(255, 205, 236);
}

/*icecream parts*/
.icecream-containter {
    position: relative; /*to allow layering*/
    width: 200px;
    margin: 20px auto;
}

/*CONE*/
.cone {
    width:100%;
    z-index: 1; /* sends to back layer*/
}

/*scoops*/
.scoop {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2; /*layer above the cone*/
}

/*toppings will go here later
.topping {

}
*/

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}